/* === Top Links and Buttons === */
a#keyboardLink {
	position: fixed;
	top: 0;
	right: 0;
	text-decoration: none;
	padding: 4px 6px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
	z-index: 200;
	font-size: 10pt;
	transition: 0.2s;
}
a#keyboardLink:hover {
	color: #000;
	background-color: #ff0;
}

#loadFontBtn {
	float: right;
	font-size: 9pt;
}

/* === Body Fonts === */
body {
	font-family: "Charis SIL", "Doulos SIL", Gentium, "Arial Unicode MS", "Lucida Sans Unicode", Arial, Serif;
	font-size: 16px;
	line-height: 1.4;
}

/* === Titles and Headings === */
h1#title {
	text-align: center;
	font-size: 18pt;
	margin-bottom: 4px;
}
h1#title #updateDate {
	color: red;
}

h2 {
	font-size: 13pt;
	margin-bottom: 4px;
}

/* === Tables === */
table {
	border-collapse: collapse;
	padding: 0;
	empty-cells: show;
	border-spacing: 0;
	width: 100%;
}

th {
	font-weight: normal;
	text-align: left;
	padding: 2px 4px;
}

td {
	font-size: 20pt;
	text-align: center;
	padding: 2px 4px;
}

/* Smaller text for revisions or notes */
#alphabetRevision {
	font-size: smaller;
}

/* IPA Symbols */
span.ipa {
	font-size: 20pt;
}

/* === Pulmonic Consonants === */
#pulmonicConsonants {
	margin-bottom: 1.5em;
}
#pulmonicConsonants h2 {
	margin-top: 5px;
}
#pulmonicConsonants table,
#pulmonicConsonants td,
#pulmonicConsonants th {
	border: 1px solid #777;
	vertical-align: middle;
}

#pulmonicConsonants th.place {
	width: 8%;
	text-align: center;
}
#pulmonicConsonants th.manner {
	text-align: left;
	padding: 0 3px;
	width: 8%;
}
#pulmonicConsonants td .voiceless,
#vowels td.unrounded {
	float: left;
	width: 49.5%;
	padding: 0;
}
#pulmonicConsonants td .voiced,
#vowels td.rounded {
	float: right;
	width: 49.5%;
	padding: 0;
}
#pulmonicConsonants .impossible {
	background-color: #aaa;
	color: black;
}
#pulmonicConsonants span.impossible {
	border-left: 1px solid #777;
	width: 48%;
	display: inline-block;
}

/* === Non-Pulmonic Consonants === */
#nonPulmonicConsonants {
	clear: left;
	float: left;
	width: 47%;
	margin-bottom: 2em;
}
#nonPulmonicConsonants table {
	border: 1px solid #777;
	width: 100%;
}
#nonPulmonicConsonants colgroup {
	border-left: 1px solid #777;
	border-right: 1px solid #777;
}
#nonPulmonicConsonants thead th {
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	font-size: 11pt;
	text-align: center;
}
#nonPulmonicConsonants tbody th {
	font-size: 10pt;
	text-align: left;
	padding: 1px .75ex;
}
#nonPulmonicConsonants tbody td {
	font-size: 20pt;
	text-align: center;
	padding: 1px .75ex;
}
#nonPulmonicConsonants th {
	padding: .4em;
	border-right: 1px solid #777;
}
#nonPulmonicConsonants td {
	padding: .4em;
	border-left: 1px solid #777;
}

/* === Vowel Quadrilateral === */
#vowels {
	float: right;
	width: 45%;
	margin-bottom: 2em;
}

div#vowelQuadrilateral {
	position: relative;
	font-size: 1em;
	width: 100%;
	height: 310px;
}

div#vowelQuadrilateral span {
	position: absolute;
	z-index: 100;
	font-size: 20pt;
}

/* Optional background image for chart */
img#vowelBackground {
	position: absolute;
	width: 100%;
	height: 100%;
}

div#vowelSymbols span,
#Vowels td {
	font-size: 20pt;
	padding: 0 5px;
}

#vowels p.caption {
	margin-top: .25em;
	margin-left: 25%;
}

/* === Other Symbols === */
div#otherSymbols {
	clear: left;
	float: left;
	width: 60%;
	margin-bottom: 2em;
}
div#otherSymbols table td,
div#otherSymbols table th {
	font-size: 20pt;
	padding: 0 5px;
}
div#otherSymbols table th {
	text-align: left;
	font-size: 10pt;
	width: 50%;
}
div#otherSymbols table td.firstOfTwoExamples {
	padding-right: 0;
}
div#otherSymbols table td.secondOfTwoExamples {
	padding-left: .25em;
}

/* === Suprasegmentals === */
div#suprasegmentals {
	float: right;
	margin-bottom: 2em;
}
div#suprasegmentals td,
div#suprasegmentals th {
	font-size: 20pt;
	padding: 0 .5ex;
}
div#suprasegmentals td.symbol {
	text-align: center;
}
div#suprasegmentals td.example {
	text-align: left;
}
div#suprasegmentals td#stressExample {
	text-align: right;
}

/* === Diacritics === */
div#diacritics {
	width: 70%;
	clear: left;
	float: left;
	margin-bottom: 1em;
}
div#diacritics table {
	border: 1px solid #777;
	width: 100%;
}
div#diacritics table td,
div#diacritics table th {
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	font-size: 20pt;
	padding: 3px .5ex;
	text-align: center;
	white-space: pre;
}
div#diacritics td.leftExample {
	padding-right: .2ex;
}
div#diacritics td.rightExample {
	padding-left: .2ex;
}
div#diacritics th {
	font-size: 10pt;
	padding: 3px;
}

/* === Tones and Word Accents === */
div#tonesAndWordAccents {
	clear: right;
	float: right;
	margin-bottom: 1em;
}
div#tonesAndWordAccents h2 {
	text-align: center;
	white-space: nowrap;
}
div#tonesAndWordAccents td,
div#tonesAndWordAccents th {
	font-size: 20pt;
	text-align: center;
}
div#tonesAndWordAccents thead th {
	text-align: center;
	font-weight: bold;
	padding: 3px;
}
div#tonesAndWordAccents tbody th {
	padding: 0px 2ex;
	text-align: left;
	font-size: 10pt;
}
div#tonesAndWordAccents tbody th.or {
	padding: 0px 2px;
	font-size: 8pt;
	vertical-align: middle;
}

/* === Footer === */
div#footer {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	clear: both;
}
div#footer p {
	margin-top: 0;
	margin-bottom: .5em;
}
